<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>双色球参选数据</title>
		<style type="text/css">
			.ddd {
				padding-right: 20px;
				color: red;
				font-size: 3em;
			}
			.blue {
				color: blue;
				text-decoration: underline;
			}
			
		</style>
	</head>
	<body style="text-align: center;">
		<div id="app">
			<div style="color: blue;font-size: 3em;">双色球第2018084期参选数据</div>
			<div style="color: blue;font-size: 2em;margin-bottom: 20px;">开奖时间：2018-07-22 21:15:00</div>
			<div v-for="item in data1">
				<span class="ddd" v-for="(value,index) in item.name"><span v-if="index<item.name.length-1">{{value}}</span><span class="blue" v-else>{{value}}</span></span>
			</div>
		</div>
		<script src="vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			new Vue({
			  el: '#app',
			  data: {
			    data1:[
					{
						name:["03","25","15","08","05","22","08"]
					},{
						name:["08","25","15","08","05","22","10"]
					},{
						name:["12","20","15","08","05","22","09"]
					},{
						name:["05","22","15","09","05","22","22"]
					},{
						name:["07","11","15","03","05","22","13"]
					},{
						name:["04","07","15","08","05","22","16"]
					},{
						name:["06","25","15","01","05","22","09"]
					},{
						name:["09","25","15","02","05","22","09"]
					},{
						name:["03","25","15","08","05","22","08"]
					},{
						name:["08","25","15","08","05","22","10"]
					},{
						name:["12","20","15","08","05","22","09"]
					},{
						name:["05","22","15","09","05","22","22"]
					},{
						name:["07","11","15","03","05","22","13"]
					},{
						name:["04","07","15","08","05","22","16"]
					},{
						name:["06","25","15","01","05","22","09"]
					},{
						name:["09","25","15","02","05","22","09"]
					},{
						name:["03","25","15","08","05","22","08"]
					},{
						name:["08","25","15","08","05","22","10"]
					},{
						name:["12","20","15","08","05","22","09"]
					},{
						name:["05","22","15","09","05","22","22"]
					},{
						name:["07","11","15","03","05","22","13"]
					},{
						name:["04","07","15","08","05","22","16"]
					},{
						name:["06","25","15","01","05","22","09"]
					},{
						name:["09","25","15","02","05","22","09"]
					}
				]
			  }
			})
			
		</script>
		
	</body>
</html>
