@keyframes page3In {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes page3In {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}
@keyframes page3Out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes page3Out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes girl1In {
  from {
    opacity: 0;
    transform: rotate(-15deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes girl1In {
  from {
    opacity: 0;
    transform: rotate(-15deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes oldmanIn {
  from {
    opacity: 0;
    transform: rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes oldmanIn {
  from {
    opacity: 0;
    transform: rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes man1In {
  from {
    opacity: 0;
    transform: rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes man1In {
  from {
    opacity: 0;
    transform: rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes girl2In {
  from {
    opacity: 0;
    transform: rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes girl2In {
  from {
    opacity: 0;
    transform: rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes man2In {
  from {
    opacity: 0;
    transform: rotate(-15deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes man2In {
  from {
    opacity: 0;
    transform: rotate(-15deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes rocket_3In {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes rocket_3In {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rocket_3Out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-12.5rem);
  }
}
@-webkit-keyframes rocket_3Out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-12.5rem);
  }
}
@keyframes rotket_bottomIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes rotket_bottomIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotket_bottomOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes rotket_bottomOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mo_shang_hua_kaiIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mo_shang_hua_kaiIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mo_shang_hua_kaiOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mo_shang_hua_kaiOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes na_xie_nianIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes na_xie_nianIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes na_xie_nianOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes na_xie_nianOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes allOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes allOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes snow_3In {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes snow_3In {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes snow_3Out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes snow_3Out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
