.page3 {
  background-color: #2d4081 ;
  z-index: 10;
  opacity: 0;
  overflow: hidden;
}
.bg3_cercle {
  width: 10.75rem;
  height: 10.75rem;
  position: absolute;
  background-color: #233264;
  left: 2.625rem;
  bottom: 0rem;
  border-radius: 5.4rem;
  border: 1px solid #1c2850;
  box-shadow: 0 0 0 2.825rem #283972, 0 0 0 2.85rem #24366a, 0 0 0 4.825rem #2a3d79, 0 0 0 4.85rem #24366a, 0 0 0 6.35rem #2c3f7e;
}
#na_xie_nian {
  width: 8.3rem;
  height: 2.6rem;
  position: absolute;
  left: 3.5rem;
  top: 2.625rem;
  background: url(../img/thatyears.png);
  background-size: cover ;
  opacity: 0;
}
#mo_shang_hua_kai {
  width: 4.1rem;
  height: 2.9rem;
  background: url(../img/mo_shang_hua_kai.png) no-repeat;
  background-size: cover;
  left: 1.15rem;
  bottom: 8.8rem;
  position: absolute;
  opacity: 0;
}
#snow_3 {
  position: absolute;
  width: 16rem;
  height: 5.4rem;
  background: url(../img/snow.png) no-repeat;
  background-size: cover;
  bottom: 0;
  z-index: 2;
  left: 0;
  bottom: -0.5rem;
  opacity: 0;
}
#girl1 {
  width: 2.35rem;
  height: 4.2rem;
  background: url(../img/girl1.png);
  background-size: cover ;
  position: absolute;
  left: 1.25rem;
  bottom: 3.55rem;
  z-index: 9;
  opacity: 0;
}
#oldman {
  width: 1.825rem;
  height: 4.275rem;
  background: url(../img/old_man1.png);
  background-size: cover ;
  position: absolute;
  left: 4.35rem;
  bottom: 4.15rem;
  z-index: 9;
  opacity: 0;
}
#man1 {
  width: 1.75rem;
  height: 4.45rem;
  position: absolute;
  background: url(../img/man1.png);
  background-size: cover;
  left: 7.1rem;
  bottom: 4.375rem;
  z-index: 9;
  opacity: 0;
}
#girl2 {
  width: 2rem;
  height: 3.95rem;
  position: absolute;
  background: url(../img/girl2.png);
  background-size: cover ;
  left: 9.875rem;
  bottom: 4.175rem;
  z-index: 9;
  opacity: 0;
}
#man2 {
  width: 2.25rem;
  height: 4rem;
  position: absolute;
  background: url(../img/man2.png);
  background-size: cover ;
  left: 12.45rem;
  bottom: 3.55rem;
  z-index: 9;
  opacity: 0;
}
#rocket_3 {
  width: 2.95rem;
  height: 6.85rem;
  position: absolute;
  background: url(../img/rocket_3_fly.png) no-repeat;
  background-size: cover ;
  left: 6.5rem;
  bottom: 10rem;
  z-index: 2;
  opacity: 0;
}
#rotket_bottom {
  width: 8.65rem;
  height: 7.9rem;
  background: url(../img/rocket_bottom.png) no-repeat;
  background-size: cover ;
  position: absolute;
  left: 4rem;
  bottom: 3.5rem;
  z-index: 1;
  opacity: 0;
}
#bottom_dots {
  width: 14.9rem;
  height: 11.075rem;
  background: url(../img/bottom_dots.png) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0.35rem;
  bottom: 0;
  z-index: 0;
}
.girl1In {
  animation: girl1In 0.4s linear;
  animation-fill-mode: forwards;
  transform-origin: 50% bottom;
  animation-delay: 1.5s ;
  -webkit-animation: girl1In 0.4s linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform-origin: 50% bottom;
  -webkit-animation-delay: 1.5s ;
}
.oldmanIn {
  -webkit-animation: oldmanIn 0.4s linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 1.9s;
  -webkit-transform-origin: 50% 4.75rem;
  animation: oldmanIn 0.4s linear;
  animation-fill-mode: forwards;
  animation-delay: 1.9s;
  transform-origin: 50% 4.75rem;
}
.man1In {
  -webkit-animation: man1In 0.4s linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 2.3s;
  -webkit-transform-origin: 50% 4.75rem;
  animation: man1In 0.4s linear;
  animation-fill-mode: forwards;
  animation-delay: 2.3s;
  transform-origin: 50% 4.75rem;
}
.girl2In {
  animation: girl2In 0.4s linear;
  animation-fill-mode: forwards;
  animation-delay: 2.7s;
  transform-origin: 50% bottom;
  -webkit-animation: girl2In 0.4s linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 2.7s;
  -webkit-transform-origin: 50% bottom;
}
.man2In {
  animation: man2In 0.4s linear;
  animation-fill-mode: forwards ;
  animation-delay: 3.1s;
  transform-origin: 0% bottom;
  -webkit-animation: man2In 0.4s linear;
  -webkit-animation-fill-mode: forwards ;
  -webkit-animation-delay: 3.1s;
  -webkit-transform-origin: 0% bottom;
}
.rocket_3In {
  animation: rocket_3In 1.4s;
  animation-fill-mode: forwards ;
  animation-delay: 3s;
  -webkit-animation: rocket_3In 1.4s;
  -webkit-animation-fill-mode: forwards ;
  -webkit-animation-delay: 3s;
}
.rocket_3Out {
  animation: rocket_3Out 1.4s;
  animation-fill-mode: forwards ;
  -webkit-animation: rocket_3Out 1.4s;
  -webkit-animation-fill-mode: forwards ;
}
.rotket_bottomIn {
  animation: rotket_bottomIn 1.4s;
  animation-fill-mode: forwards ;
  animation-delay: 3s;
  -webkit-animation: rotket_bottomIn 1.4s;
  -webkit-animation-fill-mode: forwards ;
  -webkit-animation-delay: 3s;
}
.rotket_bottomOut {
  -webkit-animation: rotket_bottomOut 1.4s;
  -webkit-animation-fill-mode: forwards ;
  animation: rotket_bottomOut 1.4s;
  animation-fill-mode: forwards ;
}
.mo_shang_hua_kaiIn {
  animation: rotket_bottomIn 1.4s;
  animation-fill-mode: forwards ;
  animation-delay: 4s;
  transform-origin: 50% bottom;
  -webkit-animation: rotket_bottomIn 1.4s;
  -webkit-animation-fill-mode: forwards ;
  -webkit-animation-delay: 4s;
  -webkit-transform-origin: 50% bottom;
}
.mo_shang_hua_kaiOut {
  animation: rotket_bottomOut 1.4s;
  animation-fill-mode: forwards ;
  -webkit-animation: rotket_bottomOut 1.4s;
  -webkit-animation-fill-mode: forwards ;
}
.na_xie_nianIn {
  -webkit-animation: na_xie_nianIn 1.4s linear;
  -webkit-animation-fill-mode: forwards ;
  -webkit-animation-delay: 3.9s;
  animation: na_xie_nianIn 1.4s linear;
  animation-fill-mode: forwards ;
  animation-delay: 3.9s;
}
.girl1Out,
.oldmanOut,
.man1Out,
.girl2Out,
.man2Out,
.rotket_bottomOut {
  -webkit-animation: allOut 10ms linear;
  -webkit-animation-fill-mode: forwards;
  animation: allOut 10ms linear;
  animation-fill-mode: forwards;
}
.page3In {
  animation: page3In 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5;
  -webkit-animation: page3In 1s;
  -webkit-animation-fill-mode: forwards;
}
.page3Out {
  -webkit-animation: page3Out 2s linear;
  -webkit-animation-fill-mode: forwards;
  animation: page3Out 2s linear;
  animation-fill-mode: forwards;
  z-index: 999;
}
.snow_3In {
  -webkit-animation: snow_3In 1s linear;
  -webkit-animation-fill-mode: forwards;
  animation: snow_3In 1s linear;
  animation-fill-mode: forwards;
}
.snow_3Out {
  -webkit-animation: snow_3Out 1s linear;
  -webkit-animation-fill-mode: forwards;
  animation: snow_3Out 1s linear;
  animation-fill-mode: forwards;
}
